body {
    margin-top: 10em;
    font-family: 'Helvetica';
    background: #000000;
    color: white;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
}

.area {
    background: black;
    width: 60%;
    height: 600px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-size: 10px 10px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
}

.painel {
    padding: 2em 1em;
    background: #c12664;
    float: right;
    width: 25%;
    height: 450px;
    overflow-y: scroll;
}